.card-bodys{
    width: 400px;
    height: 200px;
    display:flex;
    border: 1px solid #e9ecef;
    border-radius: 5px;
    box-shadow: 1px 3px 10px #e9ecef;
    background-color: white;
    margin: 150px;
   text-align: left;
   text-decoration: none;
  }
 
  
body{
    background: #a69eee;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
  }

  .btn{
    background-color: #003049;
    color: #eef0f2;
    font-size: 1em;
    cursor: pointer;
    margin: 10px 100px;
  }
  
  .Password{
    margin: 10px;
  }