.Reqcard{
  width: 1450px;
  height: 650px;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  box-shadow: 1px 3px 10px #e9ecef;
  background-color: rgb(192, 181, 181);
  margin: 100px;
 text-align: left;
 text-decoration: none;
}

.reqeust{
  display:grid;
  justify-content: flex-end;
  text-align: right;
 
}
.ReqButton{
  float: right;
  text-align:right;
}

.h2{
  text-align:center;
}